extends index


block content
    section.section-header
        .header__hero
            .header__hero-overlay &nbsp;
            img.header__hero-img(src= `/img/banner.jpg`)

        .heading-box
            h1.heading-primary
                span Welcome to Chop Chop Family
    main.main

        form.query__form
            .form__group
                label.form__label(for='name') Name
                input#name.form__input.form_query(type='text', placeholder='biryani, fish, cake..... ')
            .form__group
                label.form__label(for='cuisine') Cuisine
                input#cuisine.form__input.form_query(type='text', placeholder='pakistan, spanish ... ')

            .form__group
                label.form__label(for='category') Category
                input#category.form__input.form_query(type='text', placeholder='pasta, cookies, desserts...')

            .form__group.form-item__field
                label.form__label(for='dietaryRestriction') Dietary Restriction
                input#dietaryRestriction.form__input.form_query(type='text', placeholder='gluten free, fast food, cookies..')

            a.btn.btn--green.btn-search Search...

        .card-container
            each recipe in recipes
                .card.cards-data-id(data-id = `${recipe.id}`)
                    .card__header
                        .card__picture
                            img.card__picture-img(src= `${recipe.image}`, alt= `${recipe.name}`)
                        h3.heading-tertirary
                            span= recipe.name

                    .card__details
                        p.card__text= `${recipe.description}`
                        .card__data
                            svg.card__icon
                                use(xlink:href='img/icons.svg#icon-clock')
                            span= `${recipe.time} hr`
                        .card__data
                            svg.card__icon
                                use(xlink:href='img/icons.svg#icon-clipboard')
                            span= `${recipe.category}`
                        .card__data
                            svg.card__icon
                                use(xlink:href='img/icons.svg#icon-flag')
                            span= `${recipe.cuisine}`
                        .card__data
                            svg.card__icon
                                use(xlink:href='img/icons.svg#icon-tag')
                            span= `${recipe.dietaryRestriction}`

                    .card__footer
                        p.card__ratings
                            -const created = recipe?.createdAt.toLocaleDateString('en-us', {month: "long", day: "numeric"})
                            span.card__footer-value= `Posted: ${created}`
                            - const updated = recipe?.updatedAt?.toLocaleDateString('en-US', { month: "long", day: "numeric" })
                            if updated
                                span= `Updated At: ${updated}`



                            - const newData = user._id == recipe.userData
                             - const id = recipe.id
                        if newData
                            .card__data
                                a.btn-delete(id = id)
                                    svg.card__icon.action_circle
                                        use(xlink:href='img/icons.svg#icon-trash')

                                a.btn-edit(href=`/edit/${recipe.slug}`)
                                    svg.card__icon.action_circle
                                        use(xlink:href='img/icons.svg#icon-edit')
                        a.btn.btn--green.btn--small.btn-slug(href=`recipes/${recipe.slug}`) Details