extends index

block content
    section.section-header
        .header__hero
            .header__hero-overlay &nbsp;
            img.header__hero-img(src=`${recipe.image}`, alt= `${recipe.name}`)

        .heading-box
            h1.heading-primary
                span= `${recipe.name}`
            .heading-box__group
                .heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href='/img/icons.svg#icon-clock')
                    span.heading-box__text= `${recipe.time} hr`

                .heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href='/img/icons.svg#icon-flag')
                    span.heading-box__text= `${recipe.cuisine}`

                .heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href='/img/icons.svg#icon-shuffle')
                    span.heading-box__text= `${recipe.dietaryRestriction}`

    section.section-description
        .overview-box
            div
                .overview-box__group
                    h2.heading-secondary.ma-bt-lg Quick View About Recipe

                .overview-box__group
                    h2.heading-secondary.ma-bt-lg Ingredients
                    .overview-box__detail
                        span.overview-box__text= `${recipe.ingredients}`

        .description-box
            h2.heading-secondary.ma-bt-lg About #{recipe.name}
            p.description__text= `${recipe.description}`
            p.description__text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum!
